<%= form_for @recipe, html: {multipart: true} do |f| %>
  <% if @recipe.errors.any? %>
    <div class="signed-in" id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %></br>

  <%= f.hidden_field :user_id, value: @user.id %>

  <%= f.label :avatar, "AVATAR:" %>
  <%= f.file_field :recipe_avatar %>
  <br>
  <%= f.label :name, "NAME:" %>
  <%= f.text_field :name, placeholder: "ENTER RECIPE NAME"%>
  </br>
  <%= f.label :cook_time, "COOK TIME (IN MINUTES):" %>
  <%= f.number_field :cook_time, min: 1, placeholder: "MINUTES"%>
  </br>
  <%= f.label :category, "CATEGORY" %>
  <%= f.select :category, Recipe.categories.map{|c| c} %>
  </br>
  </br>

  <% if !@recipe.recipe_ingredients.empty? || !@recipe.id.nil? || !Ingredient.all.empty? %>
  <p><strong>SELECT OR EDIT INGREDIENTS:</strong></p>
  <%= f.fields_for :ingredient_select do |ff| %>
    <% Ingredient.all.each do |ingdt| %>
        <% recipe_ingredient = RecipeIngredient.find_by(ingredient_id: ingdt.id, recipe_id: @recipe.id) %>
        <%= ff.fields_for "#{ingdt.name}" do |i| %>
          <%= i.check_box :id, checked: @recipe.ingredients.include?(ingdt) %><%= i.label "#{ingdt.name.upcase}: " %> <%= i.text_field :measurement, value: (recipe_ingredient && recipe_ingredient.measurement && !recipe_ingredient.measurement.empty?) ? recipe_ingredient.measurement : nil, placeholder: "MEASUREMENT"%>
        <% end %><br></br>
      <% end %>
    <% end %>
  <% end %>

</br><p><strong>CREATE INGREDIENTS TO USE IN THIS RECIPE:</strong></p><br>
<div id="fields_for_ingredients" style="background-color: rgba(20, 20, 20, 0.85); color: rgba(225, 225, 225, 0.95)"></div>
<p class="nav-link"><a href="#" id="click" style="color: rgba(225, 225, 225, 0.95)">add ingredient</a></p>


  </br>
  </br>
  <%= f.label :instructions, "INSTRUCTIONS:" %><br>
  <%= f.text_area :instructions, size: "70x15", placeholder: "ENTER INSTRUCTIONS HERE"%>
  </br>
  <%= f.submit class: "registration2" %>
<% end %>
