<%= form_for @user, html: {multipart: true} do |f| %>

  <% if @user.errors.any? %>
    <div class="signed-in" id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %></br>

  <%= f.label "AVATAR:" %>
  <%= f.file_field :user_avatar %>
  <br>
  <%= f.label "USERNAME:" %>
  <%= f.text_field :name %>
  </br>
  <%= f.label "EMAIL:" %>
  <%= f.text_field :email %>
  </br>
  <%= f.label "PASSWORD:" %>
  <%= f.password_field :password %>
  </br>
  <%= f.label "PLEASE CONFIRM PASSWORD:" %>
  <%= f.password_field :password_confirmation %>
  </br>
  <%= f.submit %>
<% end %>
