<%= render 'layouts/title-header' %>
<div class="not-signed-in-header">

  <%= link_to "SIGN IN", new_session_path, id: "registration1" %>
   <%= link_to "SIGN UP", new_user_path, id: "registration2" %>
   <%= link_to "SIGN IN WITH FACEBOOK!", "/auth/facebook", id: "registration2" %>
   <%= link_to "SIGN IN WITH GITHUB!", "/auth/github", id: "registration2" %>
</div>
