<div class="signed-in-header">
  <% if session[:user_id] %>
    <%= link_to "SIGN OUT", session_path(session[:user_id]), method: "delete", class: "header-link"%>
    <%= link_to "PROFILE", user_path(session[:user_id]), class: "header-link" %>
    <%= link_to "ALL RECIPES", recipes_path, class: "header-link" %>
    <%= link_to "INGREDIENTS", ingredients_path, class: "header-link" %>
    <%= link_to "UPDATE ACCOUNT", edit_user_path(session[:user_id]), class: "header-link" %>
    <%= link_to "DELETE ACCOUNT", user_path(session[:user_id]), method: "delete", class: "header-link"%>
  <% end %>
</div>
